<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
	<link rel="stylesheet" href="week02home.css" type="text/css">
</head>
<body>
<div class="row">
    
	<div class="main">
	<h1>Resturants with deals</h1>
	<p>There are the following restaurants with a deal in zipcode "<%= zip %>":</p>
	<p>Filler text</p>
	</div>
	</div>

	</body>
</html>